apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: frontend-monitor
  namespace: monitoring
  labels:
    release: monitoring
spec:
  selector:
    matchLabels:
      app: frontend   # ← must match the labels in your Service
  namespaceSelector:
    matchNames:
      - ecommerce
  endpoints:
    - port: http      # ← must match the port name in your Service spec
      path: /metrics
      interval: 15s
